<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" >
    <th:block th:include="templates :: headers"></th:block>
    <title>Income List</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container">
    <div class="table">
        <div class="row">
            <div class="col-12">
                <h2>Income</h2>
            </div>
        </div>
        <div class="row colored-row header margins">
            <div class="col-2">Amount</div>
            <div class="col-2">Category</div>
            <div class="col-2">Income Data</div>
            <div class="col-3">Note</div>
        </div>
        <div class="row colored-row" th:each="income : ${incomeList}">
            <div class="col-2" th:text="${income.getAmount()}"></div>
            <div class="col-2" th:text="${income.getCategory()}"></div>
            <div class="col-2" th:text="${income.getIncomeData()}"></div>
            <div class="col-2" th:text="${income.getNote()}"></div>
                <form th:action="@{/income/delete}" th:method="get">
                    <input type="text" th:value="${income.getId()}" name="incomeId" hidden>
                    <input class="col-12 form-control form-control-sm" type="submit" value="Delete">
                </form>
                <form th:action="@{/income/update}" th:method="get">
                    <input type="text" th:value="${income.getId()}" name="incomeId" hidden>
                    <input class="col-12 form-control form-control-sm" type="submit" value="Update">
                </form>

            </div>
        <div class="row colored-row margins" th:classappend="${incomeList} ? return : hidden">
            <div class="col-6 offset-3">
                <form th:action="@{/income/add}" th:method="get">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">add new</button>
                </form>
            </div>
        </div>

    </div>
</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>