<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Add new Payment</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container">
    <form class="form" th:action="@{/payment/save}" th:method="post" th:object="${newPaymentDTO}" >
        <div class="row colored-row">
            <div class="col-12">
                <h2>Add new</h2>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-2">
                <label for="name">Name of payment:</label>
            </div>
            <div class="col-10">
                <input class="form-control" id="name" name="name" required th:field="*{name}">
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-2">
                <label for="income">Payment:</label>
            </div>
            <div class="col-10">
                <input class="form-control" id="income" name="income" required th:field="*{income}">
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-2">
                <label for="choseTarget">Chose target:</label>
            </div>
            <div class="col-10">
                <select id="choseTarget" class="form-control" name="target" required th:field="*{targetId}">
                    <option th:each="targetT : ${targetList}"
                            th:value="${targetT.id}"
                            th:text="${targetT.name}">
                </select>

            </div>
        </div>
        <div class="row colored-row">
            <div class="offset-2 col-8">
                <input class="form-control" type="submit" value="Add">
            </div>
        </div>
    </form>
</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>