<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="headers">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</th:block>

<th:block th:fragment="footer_scripts">
    <script th:href="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:href="@{/webjars/popper.js/1.14.4/popper.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/609d1e84be.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
</th:block>

</th:block>

<th:block th:fragment="navigator_bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><i class="fas fa-home"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" type="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-caret-square-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animate slideIn" sec:authorize="hasAnyRole('ADMIN','USER')" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item waves-effect waves-light"
                               th:href="@{/income/list}">Income</a>
                            <a class="dropdown-item waves-effect waves-light"
                               th:href="@{/expenditure/list}">Expenditure</a>
                            <a class="dropdown-item waves-effect waves-light" th:href="@{/upcomingPayments/list}">Upcoming
                                Payments</a>
                            <a class="dropdown-item waves-effect waves-light" sec:authorize="hasRole('ADMIN')"
                               th:href="@{/admin/user/list}">Users</a>
                        </div>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" type="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"></i>
                    </a>
                        <div class="dropdown-menu dropdown-menu-right animate slideIn"
                             aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item waves-effect waves-light" sec:authorize="!isAuthenticated()"
                               th:href="@{/user/register}">Register</a>  </a>
                            <a class="dropdown-item waves-effect waves-light" sec:authorize="isAuthenticated()"
                               th:href="@{/logout}">Logout</a> </a>
                            <a class="dropdown-item waves-effect waves-light" sec:authorize="!isAuthenticated()"
                               th:href="@{/login}">Login</a>  </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>

</html>