<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" >
    <th:block th:include="templates :: headers"></th:block>
    <title>Upcoming Payments List</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container">
    <div class="table">
        <div class="row">
            <div class="col-12">
                <h2>Upcoming Payments</h2>
            </div>
        </div>
        <div class="row colored-row header margins">
            <div class="col-2">Amount</div>
            <div class="col-2">Category</div>
            <div class="col-2">Payments Deadline Data</div>
            <div class="col-3">Note</div>
        </div>
        <div class="row colored-row" th:each="upcomingPayments : ${upcomingPaymentsList}">
            <div class="col-2" th:text="${upcomingPayments.getAmount()}"></div>
            <div class="col-2" th:text="${upcomingPayments.getCategory()}"></div>
            <div class="col-2" th:text="${upcomingPayments.getPaymentDeadline()}"></div>
            <div class="col-2" th:text="${upcomingPayments.getNote()}"></div>
                <form th:action="@{/upcomingPayments/delete}" th:method="get">
                    <input type="text" th:value="${upcomingPayments.getId()}" name="upcomingPaymentsId" hidden>
                    <input class="col-12 form-control form-control-sm" type="submit" value="Delete">
                </form>
                <form th:action="@{/upcomingPayments/update}" th:method="get">
                    <input type="text" th:value="${upcomingPayments.getId()}" name="upcomingPaymentsId" hidden>
                    <input class="col-12 form-control form-control-sm" type="submit" value="Update">
                </form>

            </div>
        <div class="row colored-row margins" th:classappend="${upcomingPaymentsList} ? return : hidden">
            <div class="col-6 offset-3">
                <form th:action="@{/upcomingPayments/add}" th:method="get">
                    <input class="col-12 form-control form-control-sm" type="submit" value="Add new">
                </form>
            </div>
        </div>

    </div>
</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>