<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>User Register Page</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" th:action="@{/user/register}" th:method="post">
                        <div class="form-label-group">
                            <input id="input-email" name="username" type="email" class="form-control" placeholder="Email address" required>
                            <label for="input-email">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="input-password" name="password" class="form-control" placeholder="Password" required autofocus>
                            <label for="input-password">Password</label>
                        </div>
                        <div class="form-label-group">

                            <input type="password" id="input-password-confirm" name="password-confirm" class="form-control" placeholder="Password confirm" required autofocus>
                            <label for="input-password-confirm">Password</label>
                        </div>


                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>